@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
      --background: 72, 19%, 95%;
      --foreground: 24, 86%, 47%;

      --muted: 80, 17%, 53%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --popover: 72, 19%, 95%;
      --popover-foreground: 24, 86%, 47%;

      --card: 72, 19%, 95%;
      --card-foreground: 24, 86%, 47%;

      --border: 214.3 31.8% 91.4%;
      --input: 24, 86%, 47%;

      --primary: 24, 86%, 47%;
      --primary-foreground: 89, 27%, 65%;

      --secondary: 80, 17%, 53%;
      --secondary-foreground: 24, 86%, 47%;

      --accent: 80, 17%, 53%;
      --accent-foreground: 24, 86%, 47%;

      --destructive: 0 100% 50%;
      --destructive-foreground: 89, 27%, 65%;

      --ring: 24, 86%, 47%;

      --radius: 0.5rem;
   }

   .dark {
      --background: 0, 0%, 12%;
      --foreground: 213 31% 91%;

      --muted: 223 47% 11%;
      --muted-foreground: 215.4 16.3% 56.9%;

      --popover: 0, 0%, 12%;
      --popover-foreground: 215 20.2% 65.1%;

      --card: 72, 19%, 95%;
      --card-foreground: 24, 86%, 47%;

      --border: 24, 86%, 47%;
      --input: 24, 86%, 47%;

      --primary: 24, 86%, 47%;
      --primary-foreground: 30 90% 1.2%;

      --secondary: 222.2 47.4% 11.2%;
      --secondary-foreground: 89, 27%, 65%;

      --accent: 80, 17%, 53%;
      --accent-foreground: 0, 0%, 12%;

      --destructive: 0 63% 31%;
      --destructive-foreground: 89, 27%, 65%;

      --ring: 24, 86%, 47%;

      --radius: 0.5rem;
   }
}

@layer base {
   * {
      @apply border-border;
   }
   body {
      @apply bg-background text-foreground;
      font-feature-settings: 'rlig' 1, 'calt' 1;
   }
}
